/* CSS */
@font-face { font-family: BigNoodleTitling; src: url('fonts/big_noodle_titling.ttf'); font-family: 'Lato', sans-serif; }

	a, a:hover, a:link, a:visited, a:active {color:inherit; text-decoration:inherit;}

#header{
	background-color:#009850; 
	font-family:BigNoodleTitling,Impact,Tahoma,Arial;
	min-width:1200px;
	/* border-bottom:8px solid #155724; */
	}

.test1234{background-color:#009850; height:39px; text-align:center;}


.title{background-color:#EDEDED; height:43px;}
.title div {    
	margin: 0 auto;
    width: 1200px;
	}
	.titleBarContent img{float:left; height:105px; width:105px;}
	.veryTopCelticLogo{position:absolute; z-index:1000;}
	.titleBarContent h1{
		position:relative; 
		left:21px; 
		color: #009850; 
		float:left; 
		margin:-5px; 
		margin-left:93px;
		padding-top:5px;
	}
	
	.titleBarContent ul{ 
		display:flex;
		left:18%;
		list-style-type:none;
		position:relative;
	}
	.titleBarContent ul li{
		font-family:"Lato"; 
		font-weight:bold; 
		line-height:32px; 
		margin-left:7px; 
		margin-right:14px;
		padding:5px;
	}
		#nbLogoTitle {width:62px; height:34px;}
		#dafabetLogoTitle {width:48px; height:34px;}
		#magnersLogoTitle {width:78px; height:34px;}
	
#wrapper{}
 
/*My Custom Nav Menu */
nav{margin-bottom:6%;}
.myNav{    background-color: #00984f;
    width: 100%;
	display:table;
	}
.columnHeaders{    border-bottom: 8px solid #155724;
    z-index: 100;
    font-size: 1.8em;
    text-transform: uppercase;
    text-align: center;
    color: white;
	font-family:BigNoodleTitling,Impact,Tahoma,Arial;
	
	position:absolute;
	padding-top:21px;
	
	background-color:#00984f;
	width:100%;
	left:0;
}
	/* So two different padding selectors cant be a good thing right? */
	.columnHeaders span{ 
		margin:-10px;
		padding-bottom:6px;
		padding-right:45px;
		padding-left:45px;
		
		/* border-bottom:7px solid #ffcc00; */
	}
		.columnHeaders a:hover > span{border-bottom:7px solid #ffcc00;}

.dropdownContainer{font-family:BigNoodleTitling,Impact,Tahoma,Arial;}
	.box1, .box2, .box3, .box4, .box5, .box6, .box7{    
		display: none;
		width: 100%;
		max-width:1184px;
		/* background-color: #252525; */
		background:url(img/menuBg.png) repeat-x;
		/* opacity:0.7; */
		height: 100%;
		max-height:400px;
		margin-top:72px;
		position: absolute;
		z-index:1001;
		line-height:10px;
		
	}
	.box3 .rightMenuSubColumn p{line-height:13px;}
	.box4 .rightMenuSubColumn p{line-height:15px; height:45px;}
	.box5 .rightMenuSubColumn p{line-height:12px;}
	
	.leftMenu{   
		color: #fc0; 
		/* background-color: red; */
		float: left;
		font-size: 1.5em;  
		height: 100%; 
		line-height:17px;
		padding-left: 10px; 
		padding-top: 65px;
		width: 25%;
	}
	
	.rightMenu{color: white; height: 100%; width: 75%; /* background-color: blue; */ float: left; }
		.rightMenuSubColumn{width:33%; float:left; padding-top:10px;}
		.rightMenuSubColumn h1{border-bottom:2px solid white; width:85%; }
		.rightMenuSubColumn h2{color:#fc0; padding-top:5px; font-size:1.7rem;}
		.rightMenuSubColumn img {width:277px; height:155px;}
		.rightMenuSubColumn p{font-family:Lato;}
.content{	
	background-color: #ededed;
	/* box-shadow: 0px 5px 30px #212020; */
    /* width: 80%; */
    max-width: 1184px; 
    min-height: 100%;
    /* height: 1000px; */
	margin:0 auto;
	}
	
/* Carousel */
#myCarousel{
	border-bottom:8px solid #009850; 
	font-family:BigNoodleTitling,Impact,Tahoma,Arial; 
	z-index:0; 
	margin-top:72px;
	}

.carousel-indicators{left:auto; bottom:0;margin-right:0;}
.carousel-item img{width:100%;}

.carousel-item div{position:absolute; bottom:0; left:0; font-size:1.5em; background: rgb(0, 0, 0); /* fallback color */ background: rgba(0, 0, 0, 0.7); width:100%;}
	.carousel-item div h1{color:#FFCC00; padding-left:15px;}
	
	
	
/* Columns */
#column1{background-color:#F0F0F0; float:left; width:73%;}
	#matchdayWidget{padding:1em;}
		#matchdayCrests{float:left; height:auto; margin-right:1em;}
		#matchdayText{font-family:"Lato"; font-size:1.1em; color:#000; font-weight:bold; margin-top:1.5em;}
		 #matchdayText p{line-height:0px; margin-bottom:1.5em; }
		 #matchdayInfoButton{ background-color: #009850; width: 8em; padding: 0.6rem 1.2em; text-align:center; font-size:18px;}
		 #matchdayInfoButton a{color:white; font-family:BigNoodleTitling;}
	
	#managersLisbonLionsPack{ padding:0px !important;}
	#managersLisbonLionsPack video{ width: 100%;}
	#managersLisbonLionsPack h1 {margin-left:3%; }
	#videoSubHeader {margin-left:3%; font-family:Lato; font-weight:bold;}
	#videoSubHeader+p{margin-left:3%; font-family:Lato; }
	
	.hospitality img{width:100%;}
	#mrGreen img{width:100%;}
	#joyfulAndTriumphant img{width:100%;}
	#joyfulAndTriumphant img{width:100%;}
	
	#celticSocialMedia {text-align:center;}
	#celticSocialMedia h1{text-align:left;}
	#celticSocialMedia img{padding:5px;}
	#stadiumTours img{width:100%;}
	
	#sub-column-1{width:60%; float:left; border-right: 1px solid #ccc; }
	#sub-column-2{width:40%; float:left; border-right: 1px solid #ccc;}
	#sub-column-1>div, #sub-column-2>div{padding:1em;}

#column2{background-color:#F0F0F0; width:27%; display:inline-block; padding:5px;}	
	#quickNav img{padding:5px;}
	#banners img{padding:3px; margin-top:10px;}
/*#column1 h1, #column2 h1{	font-size: 1.5rem; font-family: BigNoodleTitling; border-bottom: 3px green solid; width: 310px;} */
.homePageSectionHeaders{font-size: 1.5rem; font-family: BigNoodleTitling; border-bottom: 3px green solid; width: 310px;}

/* Seccondary Ad Bar */
#secondaryAdBar{	
	background-color: #DDDDDD;    
    max-width: 1184px;
    /*min-height: 100%;*/
    /* height: 1000px; */
	margin:0 auto;
	text-align:center;
    padding-bottom: 10px;
    padding-top: 10px;
}

#secondaryAdBar img{padding-right:10px; clear:both;}

/* Footer */
#footer{	
	background-color: #009850;    
	box-shadow: 0px 5px 30px #212020;
    max-width: 1184px;
   /* min-height: 100%;*/
    height: 160px;
	margin:0 auto;
	color:#eee;
	font-family:Lato;
	
}
#footer img{width: 140px; height: 140px; float: left; margin: 10px 20px;}
.footerColumn {width:14%; float:left;}
.footerColumn ul{list-style-type:none;}
.footerColumn ul li{font-size:10px; line-height:17px;}


@media screen and (max-width:1269px ) {.content{width:952px;}  #column1{width:66%} #column2{width:34%;} }
@media screen and (max-width:979px ) {.content{width:737px;} #column1{width:57%} #column2{width:43%;} #sub-column-1, #sub-column-2{float:none; width:100%;}}
@media screen and (max-width:764px ) {.content{width:462px;} }
@media screen and (max-width:479px ) {.content{width:320px;} }

/***************************************************************************/
/************************* TEAM PAGE ***************************************/
/***************************************************************************/

.firstTeamImagesSection{}
	.firstTeamImagesSection h1{
		font-family:BigNoodleTitling; 
		padding-left:20px; 
		padding-top:30px;
	}
	
	.firstTeamImagesSection h2{
		border-bottom: 3px solid #015120;
		color:#000;
		font-family:BigNoodleTitling;
		font-size: 1.6em;
		margin: 0px 10px;
		padding-left: 10px;
		width: 310px;
	}

	.goalkeepers{clear:both; margin-left:10px;}
	.defenders, .midfielders, .forwards, .loan{clear:both; padding-top:50px;}
		

	
 
 .playerItem{
	 width:32%; 
	 float:left; 
	 padding-left:10px;
	 margin-top:30px;
  }
    
	.playerItem img{width:100%;}
	
	.playerName{  
		background-color:#000;
		color:#FC0;
		
		font-family:BigNoodleTitling;
		font-size:2em;
		
		line-height:1.2em;
		
		opacity:0.7;
		
	}
		.playerName span{position:relative; left:5%;}
		
		
		
		
/************** Player Profile Page */
.playerProfilePageContent{
	width:73%;
	float:left;
	font-family:Lato;
}
.playerProfilePageContent img{
	width:874px;
	height:433px;
}

.playerPositionInfo{}

	.squadNumContainer{float: left; margin-left: 30px;}
		#squadNum{color:#FC0; font-size:90px; float:left;}
	
	.nameandposition{line-height: 3em; margin-top: 50px; margin-left:1em; float: left;}
		#name{color:#FC0; font-size:45px; line-height:1px;}
		#position{font-size:40px;}

.playerStats{
	clear:both; 
	font-size:20px;	
	height:277px;
	margin-left: 20%;
	
    max-width: 965px;
	width:100%;
	}
		
	.rightTableColumn{text-align:left; }
	.leftTableColumn{    
		float: left;
		height: 100%;
		margin-right: 15px;
		text-align:right;
		}
		
		
		
		
/***************************************************************************/
/************************* News Page ***************************************/
/***************************************************************************/
		
.newsIndex{}		
	.newsSearchBox{}		

	.newsItem{
		font-family:BigNoodleTitling;
		font-size:1.8em;
		display:flex;
	}		
		.newsIndexImage{}		
		.newsIndexTitle{    
			/* background-color: red; */
			padding-right: 2.2em;
			padding-left: 0.5em;
		}
		.newsIndexDate{
			/* background-color:blue; */
		}		
	
	/**Paging */
	#paging{
		clear:both;
		float:right;
		font-family:BigNoodleTitling;
		font-size:1.5em;
		padding-bottom:10px;
	}
		
	.newsIndexItemLink:hover .newsItem{
		background-color:#00984f;
	}
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
